*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 775px;
    /* background-image: linear-gradient(rgba(48, 46, 46, 0.5),rgba(61, 58, 58, 0.8)) url(le-burkina-faso-region-hauts-bassins-bobo-dioulasso-la-gare-ferroviaire-p2pf9m.jpg); */
    /* background-image: url(10212 (1).jpg); */
    /* background-image: ; */
}
nav a{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

header h1{
    color: coral;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    font-style: italic;
    
}
header p{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 3%;
    padding-left: 150px;
    padding-right: 150px;
    font-weight: bold;
    font-style: italic;
}
header button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    background: rgb(255, 81, 81);
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;
}
header button:hover{
    background: violet;
}
header img{
    width: 100px;
    height: 50px;
    
}
.im{
    display: flex;
    justify-content: space-between;
}
.i1{
    margin-right: 25%; 
}
.i2{
    
    margin-left: 25%; 
}
/* section 1 */
.rows{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    border: 2px solid rgb(153, 153, 153);
    margin-left: 3%;
    margin-right: 10%;
    border-radius: 12px;
    margin-bottom: 5%;
    padding: 1%;
    background: rgb(243, 255, 198);
    
}
.his_col{
    flex-basis: 32%;
    padding: 2%;
    border: 2px solid rgb(121, 121, 121);
    border-radius: 15px;
}
.sect_1 h1{
    padding-left: 3%;
    color: tomato;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2%;
    font-size: 3rem;
}
.sect_1 p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 3%;
    padding-right: 35%;
    font-size: 1.2rem;
    padding-top: 1%;
}
.his_col h4{
    text-align: center;
    color: rgb(61, 50, 48);
    font-size: 2rem;
    
}
/* section 2 */

.sect_2 .mos{
    /* display: flex;
    justify-content: space-around; */
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 5%;
    /* margin-top: 15%; */
}
.sect_2 .mos h1{
    color:burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding-top: 10%;
}
.sect_2 .mos p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    padding-top: 2%;
    color: rgb(204, 202, 202);
    padding-right: 40%;
}
.sect_2 .mos img{
    height: 300px;
    width: 500px;
    /* margin-left: 1%;    */
    border-radius: 7px;
    margin-top: 1%;
}
.sect_2 button{
    width: 130px;
    height: 35px;
    border-radius: 50px;
    background: tomato;
    color: black;
    margin-bottom: 5%;
    font-size: 1rem;
    /* margin-left: 80%; */
}
.sect_2 button:hover{
    background: wheat;
}
/* section 3 */
.sect_3{
    margin-bottom: 10%;
    background: rgb(27, 26, 25);
}
.sect_3 img{
    width: 300px;
    height: 200px;
}
.sect_3 img:hover{
    width: 500px;
    height: 400px;
    transition: 5s;
}
.sect_3 h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    color: tomato;
    /* margin-top: 10%; */
    padding-top: 10%;
}
.sect_3 p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color: rgb(133, 131, 131);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
/* section 4 */
.sect_4{
    margin-top: 15%;
    /* background: rgb(61, 54, 54); */
}
.di{
    margin-left: 2%;
    margin-right: 2%;
    
}
.h{
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: tomato;
    margin-top: 8%;
    padding-left: 10%;
    
}
.p{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(112, 112, 112);
    margin-top: 5%;
    padding-right: 20%;
    padding-left: 10%;
}
.fo{
    width: 500px;
    height: 400px;
    /* border-radius: 8px; */
    margin-right: 10%;
}
/* section 5 */
.sect_5 {
    border: 2px solid rgb(202, 202, 202);
    margin: 10% 10%;
    background: rgb(254, 255, 237);
    border-radius: 8px;
    
}

.attra_col{
    flex-basis: 50%;
    padding: 2%;
}
.sect_5 h1{
    padding-left: 6%;
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;
    margin-top: 5%;
}
.sect_5 h3{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(59, 51, 49);
    margin-top: 1%;
    
}
.sect_5 p{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 10%;
    
}
.sect_6{
    margin: 10% 10%;
    
}
.sect_6 h1{
    padding-left: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    color: tomato;
}
.sect_6 h5{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(59, 51, 49);
    margin-top: 1%;
    
}
.sect_6 p{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 10%;
    
}
.im3{
    width: 250px;
    height: 200px;
    border-radius: 8px;
}
.ar{
    width: 20rem;
}
/* section 7 */

.sect_7{
    background-color: bisque;
    height: 500px;
    padding-top: 5%;
}
.sect_7 h1{
    padding-left: 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    color: tomato;
}
.sect_7 p{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.im2{
    width: 200px;
    height: 100px;
    
}
/* section 8 */
.sect_8{
    margin: 10%;
}
.sect_8 h1{
    padding-bottom: 2%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    color: tomato;
}
.sect_8 h3{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    background: chocolate;
    color: aliceblue;
    font-size: 2rem;
}
.hov:hover{
    background: wheat;
}
.sect_8 img{
    background: wheat;
}

/* section 9 */
.sect_9 {
 
}
.sect_9 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: rgb(245, 196, 123);
    text-align: right;
    padding-right: 5%;
    padding-bottom: 2%;
}
.sect_9 .artisa img{
   width: 500px;
   height: 400px;
   border-radius: 10px;
margin-left: 60%;
}
.sect_9 .artisa p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding-left: 35%;
    padding-right: 5%;
    text-align: right;
    padding-bottom: 1%;
    padding-top: 2%;
}
.sect_9 button{
    width: 130px;
    height: 35px;
    border-radius: 50px;
    background: tomato;
    color: black;
    margin-bottom: 5%;
    font-size: 1rem;
    margin-left: 80%;
}
.sect_9 button:hover{
    background: wheat;
}




@media (max-width: 300px) { 
    header img{
        width: 75px;
        height: 50px;
    }
    .i1{
        margin-top: 3%; 
    }
    .i2{
        margin-top: 3%; 
    }
    header p{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 1rem;
    }
    header h1{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 2rem;
    }
    header button{
        margin-left: 25%;
        margin-right: 0;
        text-align: center;
        width: 150px;
        height: 30px;
    }
    .sect_1 h1{
        font-size: 2rem;
        text-align: center;
        padding-left: 0;
    }
    .rows{
        flex-direction: column;
    }
    .fo{
        margin-right: 0;
        width: 200px;
        height: 150px;
        text-align: center;
        margin-left: 12%;
    }
    .h{
        padding-left: 0;
        text-align: center;
        font-size: 2rem;
    }
    .p{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 1rem;
    }
    .sect_5 h1{
        padding-left: 0;
        text-align: center;
        font-size: 2rem;
    }
    .sect_5 h3{
        text-align: center;
        font-size: 1.5rem;
    }
    .sect_5 p{
        text-align: center;
        font-size: 1rem;
    }
    .rowss{
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
    }
    .sect_6 h1{
        font-size: 2rem;
    }
    .sect_6 h5{
        font-size: 1.5rem;
    }
    .sect_6 p{
        font-size: 1rem;
    }
    .im3{
        width: 200px;
        height: 150px;
    }
    .ar{
        width: 15rem;
    }
    .sect_7{
        margin-left: 7%;
        margin-right: 7%;
    }
    .sect_7 h1{
        font-size: 2rem;
        padding-left: 0;
        text-align: center;
    }
    .sect_7 p{
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .im2{
        width: 150px;
        height: 80px;
    }
    .sect_8 h1{
        font-size: 2rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .row .rounded img{
        width: 200px;
        height: 150px;
    }
    footer{
        margin-left: 5%;
        margin-right: 5%;
    }
    .sect_2 .mos img{
        width: 200px;
        height: 150px;
        margin-left: 15%;
    }
    .sect_2 .mos h1{
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        font-size: 2rem;
    }
    .sect_2 .mos p{
        padding-right: 2%;
        padding-left: 2%;
        text-align: center;
        font-size: 1rem;
    }
    .sect_2 .mos {
        padding-right: 0;
        padding-left: 0;
    }
    .sect_3 h1{
        font-size: 2rem;
    }

    .sect_3 p{
        font-size: 1rem;
    }
    marquee{
        margin-right: 5%;
        margin-left: 5%;
    }
    .sect_3 img{
        width: 200px;
        height: 150px;
    }
}


.sect_12{
    /* margin-top: 5%; */
    padding-left: 5%;
    padding-right: 5%;
    /* margin-bottom: 5%; */
    background: rgb(233, 233, 233);
    height: 750px;
    padding-top: 5%;
}
.sect_12 h1{
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(99, 48, 12);
}
.sect_12 h5{
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(112, 58, 19);
}
.sect_12 p{
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 27, 26);
}
.sect_12 button{
    margin-top: 2%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 35px;
    background: rgb(25, 91, 167);
}
.sect_12 button:hover{
    background: rgb(2, 155, 155);
}
.ca:hover{
    background: coral;
}
/* .sect_12 img:hover{
    width: 500px;
    height: 400px;
    transition: 5s;
} */
.sect_13{
    background: rgb(233, 233, 233);
    height: 800px;
}
.sect_13 img{
    width: 400px;
    height: 300px;
    border-radius: 5px;
}
.sect_13 h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(99, 48, 12);
    padding-left: 3%;
    padding-top: 5%;
}
.sect_13 p{
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 27, 26);
    padding-left: 3%;
    padding-right: 25%;
}
.rowsss{
    display: flex;
    justify-content: space-around;
}
.bobo{
    flex-basis: 25%;
}
.sect_13 button{
    margin-top: 2%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 35px;
    background: rgb(25, 91, 167);
    margin-left: 5%;
    /* margin-right: 600px; */
}
.bobo:hover{
    background: coral;
}
.sect_14{
    background: rgb(233, 233, 233);
}
.sect_14 h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(99, 48, 12);
    padding-left: 5%;
    padding-top: 5%;
}
.sect_14 h5{
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 27, 26);
    padding-left: 5%;
    padding-right: 40%;
}
.sect_14 h3{
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 27, 26);
    padding-left: 5%;
}
.sect_14 p{
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(41, 34, 30);
    padding-left: 5%;
    padding-right: 25%;
    padding-right: 40%;
}


.sect_14 img{
    width: 400px;
    height: 300px;
    border-radius: 8px;
    margin-left: 5%;
}

    .rowss{
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        margin-left: 50px;
        margin-right: 50px;
        
    }
    
.sect_15{
    display: flex;
    justify-content: center;
    margin:13%;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 10px;
    height: 250px;
    background: whitesmoke;
}
.sect_15 h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(61, 25, 11);
    padding-top: 2%;
    padding-left: 5%;
    
}
.sect_15 p{
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(41, 36, 34);
    padding-right: 15%;
    padding-top: 2%;
    padding-left: 5%;
    
}
.sect_17 h1{
    padding: 5%;
    color: rgb(24, 211, 33);
}
.mouv{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}